<div class="container">
    <h2>Cadastro</h2>
    <form>
        <div class="form-group">
            <label for="id">Id</label>
            <input id="id" name="id" class="form-control" placeholder="Id">
        </div>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" name="nome" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="form-group">
            <label for="idade">Idade</label>
            <input id="idade" name="idade" class="form-control">
        </div>
        <div class="form-group">
            <label for="login">Login</label>
            <input id="login" name="login" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="ativoRadio" name="ativoInativoRadio" class="custom-control-input">
            <label class="custom-control-label" for="ativoRadio">Ativo</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="inativoRadio" name="ativoInativoRadio" class="custom-control-input">
            <label class="custom-control-label" for="inativoRadio">Inativo</label>
        </div>

        <button class="btn btn-primary">Enviar</button>
    </form>
</div>